// Body
html, body {
	-webkit-font-smoothing: antialiased;
}

// Headings
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	&:first-child {
		margin-top: 0;
	}
}

h1, .h1 {
	color: $primary-color;
	margin-bottom: 5px;
}

h2, .h2 {
	margin-top: 5px;
	margin-bottom: 20px;
}

h1 + p, .h1 + p {
	margin-top: 20px;
}

// Anchors
a {
	transition: all .2s linear;
}

// Paragraphs
p {
	&:last-child {
		margin-bottom: 0;
	}
}

// Lists
ul, ol {

	&:last-child {
		margin-bottom: 0;
	}
}

// Header
header {

}

// Sections
section {

}

// Container
.container-fluid {
	max-width: $container-lg;

	.container-inner {
		padding: 40px 0;
	}
}

// Navbar
.navbar {
	font-size: 0.8em;
	border: none;
}

.navbar-default {
	.navbar-toggle {
		background: rgba(255, 255, 255, .7);
		transition: all .2s linear;
	}

	.navbar-nav {
		> li {
			> a {
				text-transform: uppercase;
			}
		}
	}
}

.navbar-nav {
	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.navbar-brand {
	padding-top: 10px;
	padding-bottom: 10px;

	span {
		background: url('../images/logo.png') no-repeat;
		background-size: contain;
		width: 324px;
		height: 50px;
		text-indent: -9999px;
		display: block;
	}
}

// Buttons
.btn {
	font-family: $font-family-headings;
	padding: 10px 20px;
}

// Breakpoints
// HiDPI screens
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

	.navbar-brand {
		span {
			background-image: url('../img/logo@2x.png');
		}
	}

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : $screen-xs) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : $screen-sm) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : $screen-md) {

	.navbar-default {
		.navbar-nav {
			> li {
				> a {
					transition: box-shadow .2s linear;
				}

				&:hover, &:active, &:focus {
					> a {
						box-shadow: inset 0 -3px 0 0 $primary-light-color;
					}
				}

				&.active {
					> a {
						box-shadow: inset 0 -3px 0 0 $primary-color;
					}
				}
			}
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : $screen-lg) {

	// Containers
	.container-fluid {
		.container-inner {
			padding: 60px 0;
		}
	}

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : $screen-lg - 1) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : $screen-md - 1) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : $screen-sm - 1) {

	h1, .h1 {
		font-size: floor(($font-size-base * 1.6));
	}

	h2, .h2 {
		font-size: floor(($font-size-base * 1.4));
	}

	h3, .h3 {
		font-size: floor(($font-size-base * 1.3));
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : $screen-xs - 1) {

	.navbar-brand {
		padding-top: 15px;
		padding-bottom: 15px;

		span {
			width: 259px;
			height: 40px;
		}
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	.navbar-brand {
		padding-top: 20px;
		padding-bottom: 20px;

		span {
			width: 194px;
			height: 30px;
		}
	}

}
