// Sidebar
aside#secondary {


	/*==========  Non-Mobile First Method  ==========*/

	/* Medium Devices, Desktops */
	@media only screen and (max-width : $screen-md - 1) {
		margin-top: 40px;
		padding-top: 40px;
		border-top: 1px solid $gray-lighter-color;
	}
}
